# Q1

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("res/blackfriday.csv")
df.head()

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Purchase
0,1000001,F,0-17,10.0,A,2,0,8370
1,1000001,F,0-17,10.0,A,2,0,15200
2,1000001,F,0-17,10.0,A,2,0,1422
3,1000001,F,0-17,10.0,A,2,0,1057
4,1000003,M,26-35,15.0,A,3,0,15227

In [81]:
nan_col = df.columns[df.isnull().any()]
nan_colcount = len(nan_col)
out_list1 = [[nan_colcount]]
for i in range(len(nan_col)):
    out_list1.append([nan_col[i]])
out_list1

[[2], ['Occupation'], ['Stay_In_Current_City_Years']]

In [9]:
name_columns_null = df.columns[df.isnull().any()]
print(len(name_columns_null))
for i in range(len(name_columns_null)):
    print(i)
    print(name_columns_null[i])

2
0
Occupation
1
Stay_In_Current_City_Years

In [82]:
import csv
file = open('output/output.csv', mode = 'w', newline = '')
with file:
    write = csv.writer(file)
    write.writerows(out_list1)

In [ ]:
#ques1 final code for Hackerearth
import pandas as pd
import numpy as np
import sys
import csv
sys.path.append('../')

# I	A. Load data
df = pd.read_csv("res/blackfriday.csv")

def solution():
    nan_col = df.columns[df.isnull().any()]
    nan_colcount = len(nan_col)
    out_list1 = [[nan_colcount]]
    for i in range(len(nan_col)):
        out_list1.append([nan_col[i]])
        
    import csv
    file = open('output/output.csv', mode = 'w', newline = '')
    with file:
        write = csv.writer(file)
        write.writerows(out_list1)

# Q2

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('res/blackfriday.csv')
df.head()

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Purchase
0,1000001,F,0-17,10.0,A,2,0,8370
1,1000001,F,0-17,10.0,A,2,0,15200
2,1000001,F,0-17,10.0,A,2,0,1422
3,1000001,F,0-17,10.0,A,2,0,1057
4,1000003,M,26-35,15.0,A,3,0,15227

In [20]:
mean_pur = round(df['Purchase'].mean(),2)
print("mean:",mean_pur)

med_pur = round(df['Purchase'].median(),1)
print("median:",med_pur)

import numpy as np
mode_pur = pd.DataFrame([df['Purchase'].mode()])
mode_pur = np.array(mode_pur)
print(mode_pur)

mean: 9281.19
median: 8057.5
[[6884 7187]]

In [44]:
out_list1 = [[mean_pur],[med_pur]]
out_list1

[[9281.19], [8057.5]]

In [45]:
for i in range(len(mode_pur)):
    for j in range(len(mode_pur)+1):
        out_list1.append([mode_pur[i][j]])

[[9281.19], [8057.5], [6884], [7187]]

In [46]:
import csv
file = open('output/output.csv', mode = 'w', newline = '')
with file:
    write = csv.writer(file)
    write.writerows(out_list1)

In [30]:
#ques2 final code for Hackerearth
import pandas as pd
import numpy as np
import sys
sys.path.append('../')

# I. Load data
df = pd.read_csv('res/blackfriday.csv')

def solution():

# IV. Summary Statistics
# A. Mean
    mean_pur = round(df['Purchase'].mean(),2)
# B. Median
    med_pur = round(df['Purchase'].median(),1)

# C. Mode
    mode_pur = pd.DataFrame([df['Purchase'].mode()])
    mode_pur = np.array(mode_pur)
    
    out_list1 = [[mean_pur],[med_pur]]
    for i in range(len(mode_pur)):
        for j in range(len(mode_pur)+1):
            out_list1.append([mode_pur[i][j]])
    
    import csv
    file = open('output/output.csv', mode = 'w', newline = '')
    with file:
        write = csv.writer(file)
        write.writerows(out_list1)

1

# Q3

In [50]:
import statistics
var_pur = round(statistics.pvariance(df['Purchase']),2)
print(var_pur)

sd_pur = round(statistics.pstdev(df['Purchase']),2)
print(sd_pur)

24229772.61
4922.37

In [51]:
skew_pur = round(df['Purchase'].skew(),2)
print(skew_pur)

0.63

In [52]:
kur_pur = round(df['Purchase'].kurtosis(),1)
print(kur_pur)

-0.3

In [53]:
out_list1 = [[var_pur], [sd_pur], [skew_pur], [kur_pur]]
out_list1

[[24229772.61], [4922.37], [0.63], [-0.3]]

In [54]:
import csv
file = open('output/output.csv', 'w', newline = '')
with file:
    write = csv.writer(file)
    write.writerows(out_list1)

In [57]:
sk = round(df['Purchase'].kurtosis(),1)
sk

-0.3

In [ ]:
#ques3 final code for Hackerearth
import pandas as pd
import numpy as np
import sys
import csv
sys.path.append('../')
# I	A. Load data
df = pd.read_csv('res/blackfriday.csv')

def solution():
    
	# D. Variance
    import statistics
    var_pur = round(statistics.pvariance(df['Purchase']),2)


	# E. Std. Dev.
    sd_pur = round(statistics.pstdev(df['Purchase']),2)


	# F. Skewness
    skew_pur = round(df['Purchase'].skew(),2)


	# G. Kurtosis
    kur_pur = round(df['Purchase'].kurtosis(),1)
    
    out_list1 = [[var_pur], [sd_pur], [skew_pur], [kur_pur]]
    import csv
    file = open('output/output.csv', 'w', newline = '')
    with file:
        write = csv.writer(file)
        write.writerows(out_list1)

# Q4

In [58]:
import pandas as pd
import numpy as np
import statistics
import csv

In [59]:
df = pd.read_csv("res/blackfriday.csv")
df.head()

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Purchase
0,1000001,F,0-17,10.0,A,2,0,8370
1,1000001,F,0-17,10.0,A,2,0,15200
2,1000001,F,0-17,10.0,A,2,0,1422
3,1000001,F,0-17,10.0,A,2,0,1057
4,1000003,M,26-35,15.0,A,3,0,15227

In [66]:
pur_data = sorted(df['Purchase'])
Q1, Q3 = np.percentile(pur_data,[25,75])
iqr_pur = round(Q3 - Q1,1)
lower_range = Q1 - (1.5*iqr_pur)
upper_range = Q3 + (1.5*iqr_pur)

out_count = ((df['Purchase'] < lower_range) | (df['Purchase'] > upper_range)).sum()
out_list1 = [[iqr_pur],[out_count]]

file = open('output/output.csv', 'w', newline = '')
with file:
    write = csv.writer(file)
    write.writerows(out_list1)

In [ ]:
#ques4 final code for Hackerearth
import pandas as pd
import numpy as np
import csv
import sys
sys.path.append('../')

# I	A. Load data
df = pd.read_csv("res/blackfriday.csv")

def solution():

# B. IQR
    pur_data = sorted(df['Purchase'])
    Q1, Q3 = np.percentile(pur_data,[25,75])
    iqr_pur = round(Q3 - Q1,1)
    lower_range = Q1 - (1.5*iqr_pur)
    upper_range = Q3 + (1.5*iqr_pur)

    out_count = ((df['Purchase'] < lower_range) | (df['Purchase'] > upper_range)).sum()
    out_list1 = [[iqr_pur],[out_count]]

    file = open('output/output.csv', 'w', newline = '')
    with file:
        write = csv.writer(file)
        write.writerows(out_list1)

# Q5

In [67]:
x = len(df['Purchase'])
x

4864

In [70]:
gender = df.groupby(['Gender']).count()['Purchase']
#gender

Gender
F    1115
M    3749
Name: Purchase, dtype: int64

In [77]:
#prob_df = pd.DataFrame({'M':([gender['M']/x]), 'F':([gender['F']/x])})
#prob_df

          M         F
0  0.770765  0.229235

In [78]:
probability = [gender['M']/x, gender['F']/x]
#probability

[0.770764802631579, 0.22923519736842105]

In [79]:
high_prob = max(probability)
high_prob

0.770764802631579

In [104]:
df = pd.read_csv('res/blackfriday.csv')
df_count = len(df['User_ID'])
finp = open('res/testcaseprobability.txt', 'r')
finp.seek(0)
num_f_testcases = int(finp.readline().rstrip("\n"))

for tcn in range(num_f_testcases):
    f2 = open("output/" + "output" + str(tcn+1) +".csv","w", newline = '')
    age_cat = finp.readline().rstrip("\n")
    if tcn == (num_f_testcases - 1):
        city_cat = finp.readline()
    else:
        city_cat = finp.readline().rstrip("\n")
    
    print(city_cat)
    
    filt_df = df[df['Age'] == age_cat]
    gen_count = filt_df.groupby(['Gender']).count()['Purchase']
    if(gen_count['M'] > gen_count['F']):
        high_prob = 'Male'
    else:
        high_prob = 'Female'
    
    city_count = df.groupby(['City_Category']).count()['User_ID']
    prob_city = city_count[city_cat]/df_count
    
    out_list1 = [[high_prob], [prob_city]]
    
    with f2:
        write = csv.writer(f2)
        write.writerows(out_list1)

A
B

In [109]:
age_cat = '26-35'
city_cat = 'B'
filt_df = df[df['Age'] == age_cat]
#filt_df
gen_count = filt_df.groupby(['Gender']).count()['Purchase']
gen_count
if(gen_count['M'] > gen_count['F']):
    gen = 'Male'
else:
    gen = 'Female'

city_count = df.groupby(['City_Category']).count()['User_ID']
prob = round(city_count[city_cat]/len(df['User_ID']), 4)
#out_list = [[gen],[prob]]
#out_list
prob

0.3783

In [93]:
len(df['User_ID'])

4864

In [ ]:
#ques5 final code for Hackerearth
import pandas as pd
import numpy as np
import csv
import sys
sys.path.append('../')

df = pd.read_csv('res/blackfriday.csv')

# Read values from testcase


def solution():
    df_count = len(df['User_ID'])
    finp = open('res/testcaseprobability.txt', 'r')
    finp.seek(0)
    num_f_testcases = int(finp.readline().rstrip("\n"))

    for tcn in range(num_f_testcases):
        f2 = open("output/" + "output" + str(tcn+1) +".csv","w", newline = '')
        age_cat = finp.readline().rstrip("\n")
        if tcn == (num_f_testcases - 1):
            city_cat = finp.readline()
        else:
            city_cat = finp.readline().rstrip("\n")
    
        print(city_cat)
    
        filt_df = df[df['Age'] == age_cat]
        gen_count = filt_df.groupby(['Gender']).count()['Purchase']
        if(gen_count['M'] > gen_count['F']):
            high_prob = 'Male'
        else:
            high_prob = 'Female'
    
        city_count = df.groupby(['City_Category']).count()['User_ID']
        prob_city = round(city_count[city_cat]/df_count, 4)
    
        out_list1 = [[high_prob], [prob_city]]
    
        with f2:
            write = csv.writer(f2)
            write.writerows(out_list1)